<div class="datos__container">
    <div class="dato">
        <h1>Bienvenido <%= datos.user %>!</h1>
    </div>
    <div class="dato">
        <a class="dato__desloguer" href="http://localhost:8080/logout">Log out</a>
    </div>
</div>
